@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/home_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/home_responsive.css">

<!-- Slider -->
@*<div class="main_slider" style="background-image:url(/Content/assets/images/slider_1.jpg)">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="col">
                    <div class="main_slider_content">
                        <h6>Spring / Summer Collection 2017</h6>
                        <h1>Get up to 30% Off New Arrivals</h1>
                        <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- Adv Carousel -->
@Html.Action("_AdvCarousel", "Adv")

<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuArrivals", "Menu")
    </div>
</div>

<!-- Deal of the week -->
@Html.Action("_ProductFeature", "Product")

<!-- Best Selling -->
@Html.Action("_ProductSales", "Product")

<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-4 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>Trả hàng Miễn phí 15 ngày</h6>
                        <p>Trả hàng miễn phí trong 15 ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-shield" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>Hàng chính hãng 100%</h6>
                        <p>Đảm bảo hàng chính hãng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>Miễn phí vận chuyển</h6>
                        <p>Áp dụng với một số tỉnh thành</p>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>opening all week</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<!-- Blogs -->
@Html.Action("_NewsHome", "News")

@section scripts {
    <!-- Custom JS for swipe -->
    <script>
        var carousel = document.getElementById('customCarousel');
        var startX, endX;

        // Handle touch events for swipe on mobile
        carousel.addEventListener('touchstart', function (e) {
            startX = e.touches[0].clientX;
        });

        carousel.addEventListener('touchmove', function (e) {
            endX = e.touches[0].clientX;
        });

        carousel.addEventListener('touchend', function (e) {
            handleSwipe();
        });

        // Handle mouse events for swipe on desktop
        carousel.addEventListener('mousedown', function (e) {
            startX = e.clientX;
        });

        carousel.addEventListener('mousemove', function (e) {
            if (startX) {
                endX = e.clientX;
            }
        });

        carousel.addEventListener('mouseup', function (e) {
            handleSwipe();
            startX = null;
        });

        function handleSwipe() {
            var threshold = 100; // swipe threshold in pixels
            if (startX && endX) {
                if (endX - startX > threshold) {
                    $('#customCarousel').carousel('prev'); // swipe right to go to the previous item
                } else if (startX - endX > threshold) {
                    $('#customCarousel').carousel('next'); // swipe left to go to the next item
                }
            }
        }
    </script>
}