@model PagedList.PagedList<WebBanHangOnline.Models.EF.ReviewProduct>
@using PagedList.Mvc;

<!-- User Review -->

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="user_review_container d-flex flex-column flex-sm-row">
            <div class="user">
                <div class="user_pic"></div>
                <div class="user_rating">
                    <ul class="star_rating">
                        @Html.Raw(WebBanHangOnline.Common.Common.HtmlRate(item.Rate))
                    </ul>
                </div>
            </div>
            <div class="review">
                <div class="review_date">@item.CreatedDate.ToString("dd/MM/yyyy")</div>
                <div class="user_name">@item.FullName</div>
                <p>@item.Content</p>
            </div>
        </div>
    }

    <!-- Phân trang -->
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("_LoadReview", new { productId = ViewBag.ProductId, page }))
    </div>
}
