@using WebBanHangOnline.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/whole_web_responsive.css">

<div class="container product_section_container login-container">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewBag.Title</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2 id="title">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "loginFormAjax" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    <div id="validation-summary" style="display:none;" class="col-md-12">
                        <div class="alert alert-danger" role="alert" style="width: fit-content">
                            <ul id="validation-errors" class="text-black"></ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, "Tên đăng nhập", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-md-4 col-form-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="ĐĂNG NHẬP" class="btn red_button text-white" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            Bạn chưa có tài khoản?
                            <a href="/Account/Register" style="color: #fe4c50 !important;" class="font-weight-bold">Đăng ký</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="/Account/ForgotPassword" style="color: #fe4c50 !important;" class="font-weight-bold forgotPasswordLink">Quên mật khẩu?</a>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.forgotPasswordLink', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.ajax({
                    url: $(this).attr('href'),
                    type: 'GET',
                    success: function (view) {
                        history.pushState(null, '', url);
                        $('.login-container').html($('<div></div>').html(view).find('.forgot-password-container'));
                        $('html, body').animate({ scrollTop: 0 }, '300');
                    }
                })
            });

            $(document).on('click', '.btnConfirm', function (e) {
                e.preventDefault();
                $('#validation-summary').hide();
                $('.success-line').removeClass('d-none');
                $.ajax({
                    url: '/Account/ForgotPassword',
                    type: 'POST',
                    data: {
                        Email: $('#confirmationEmail').val(),
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {                        
                        if (response.success) {      
                            $.ajax({
                                url: '/Account/ForgotPasswordConfirmation',
                                type: 'GET',
                                success: function (view) {
                                    history.pushState(null, '', '/Account/ForgotPasswordConfirmation');
                                    $('.forgot-password-container').html($('<div></div>').html(view).find('.fp-confirmation-container'));
                                    $('html, body').animate({ scrollTop: 0 }, '300');
                                }
                            })
                        } else {
                            $('.success-line').addClass('d-none');
                            $('#validation-summary').show();
                            $('#validation-errors').empty();
                            $('#validation-errors').append('<li>' + response.error + '</li>');
                        }
                    }
                })
            });

            $('#loginFormAjax').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            window.location.href = result.redirectUrl;
                        } else if (result.errors && result.errors.length > 0) {
                            // Chỉ hiển thị khi có lỗi cụ thể
                            $('#validation-summary').show();
                            $('#validation-errors').empty(); // Xóa thông báo lỗi cũ
                            $.each(result.errors, function (index, error) {
                                $('#validation-errors').append('<li>' + error + '</li>');
                            });
                        } else {
                            // Ẩn nếu không có lỗi
                            $('#validation-summary').hide();
                        }
                    }
                })
            });
        });
    </script>
}