@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>

@if (Model != null && Model.Any())
{
    var i = 0;
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" checked id="selectAll" /></th>
                    <th class="text-center">STT</th>
                    <th class="text-center">Ảnh sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Danh mục</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center" width="100">Số lượng</th>
                    <th class="text-center">Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="trow_@item.ProductId" style="@(item.LeftQuantity == 0 ? "background-color: #ededed;" : "")">
                        <td>
                            @if (item.LeftQuantity == 0)
                            {
                                <input type="checkbox" disabled />
                            }
                            else 
                            {
                                <input type="checkbox" checked class="cbkItem" data-price="@item.TotalPrice" value="@item.ProductId" />
                            }
                        </td>
                        <td class="text-center row_index">@(i + 1)</td>
                        <td class="text-center">
                            <img src="@item.ProductImg" width="60" />
                        </td>
                        <td>
                            <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                                @item.ProductName
                            </a>
                        </td>
                        <td>@item.CategoryName</td>
                        <td class="text-center">@string.Format("{0:N0}", item.Price)<u>đ</u></td>
                        <td class="text-center">
                            @if (@item.LeftQuantity == 0)
                            {
                                <input type="number" min="0" disabled class="form-control quantity-input" value="0" data-price="0" />
                            }
                            else
                            {
                                <input type="number" min="1" max="@item.LeftQuantity" class="form-control quantity-input" id="@item.ProductId" value="@item.Quantity" data-price="@item.Price" />
                            }                            
                            <div id="quantity-left">
                                Còn: @item.LeftQuantity
                            </div>
                        </td>
                        @if (item.LeftQuantity == 0) 
                        {
                            <td class="text-center font-weight-bold total-price" id="totalPrice_@item.ProductId">0<u>đ</u></td>
                        }
                        else
                        {
                            <td class="text-center font-weight-bold total-price" id="totalPrice_@item.ProductId">@string.Format("{0:N0}", item.TotalPrice)<u>đ</u></td>
                        }
                        <td>
                            <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                        </td>
                    </tr>
                    i++;
                }
                <tr class="font-weight-bold">
                    <td colspan="7" class="text-right">Tổng tiền: </td>
                    <td class="text-center" id="totalPrice"><u>0đ</u></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
<h3 class="text-center">Giỏ hàng của bạn đang trống!</h3>
<div class="row d-flex justify-content-center">
    <a href="/danh-muc-san-pham/tat-ca" class="btn red_button text-white px-4">MUA NGAY</a>
</div>
}

<script>
    $(document).ready(function () {
        updateTotalPrice();

        $('#selectAll').on('change', function () {
            $('.cbkItem').prop('checked', this.checked);
            updateTotalPrice();
        });

        $('.cbkItem').on('change', function () {
            if ($('.cbkItem:checked').length !== $('.cbkItem').length) {
                $('#selectAll').prop('checked', false);
            } else if ($('.cbkItem:checked').length === $('.cbkItem').length) {
                $('#selectAll').prop('checked', true); 
            }
            updateTotalPrice();
        });

        $('body').on('click', '.btnDelete', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            var conf = confirm("Bạn muốn xóa sản phẩm này khỏi giỏ hàng?");
            if (conf === true) {
                $.ajax({
                    url: '/ShoppingCart/Delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        $('#checkout_items').html(result.count);
                        $('#trow_' + id).remove();
                        updateTotalPrice();
                        updateSTT();
                        if ($('#checkout_items').html() === '0') {
                            loadCart();
                            $('.btnDeleteAll, .btnOrder').hide();
                        }
                    }
                });
            }
        });

        $('body').on('click', '.btnDeleteAll', function (e) {
            e.preventDefault();
            var conf = confirm("Bạn muốn xóa hết sản phẩm trong giỏ hàng?");
            if (conf === true) {
                $.ajax({
                    url: '/ShoppingCart/DeleteAll',
                    type: 'POST',
                    success: function (result) {
                        // location.reload();
                        $('#checkout_items').html(0);
                        loadCart();
                        $('.btnDeleteAll, .btnOrder').hide();
                    }
                });
            }
        });

        // Update item's quantity
        $('.quantity-input').on('change', function () {
            var quantity = parseInt($(this).val());
            quantity = Math.min(parseInt($(this).attr('max')), Math.max(parseInt($(this).attr('min')), quantity));
            $(this).val(quantity);

            var price = parseFloat($(this).data('price')) || 0;
            var productId = $(this).attr('id');

            if (quantity > 0) {
                var totalPrice = quantity * price;
                $('#totalPrice_' + productId).html(totalPrice.toLocaleString('vi-VN') + '<u>đ</u>');

                // Cập nhật thuộc tính data-price của checkbox
                $('.cbkItem[value="' + productId + '"]').attr('data-price', totalPrice);
                updateTotalPrice();

                $.ajax({
                    url: '@Url.Action("Update", "ShoppingCart")',
                    type: 'POST',
                    data: { id: productId, quantity: quantity },
                    success: function (response) {
                        if (!response.success) {
                            alert("Có lỗi xảy ra khi cập nhật giỏ hàng.");
                        }
                    },
                    error: function () {
                        alert("Có lỗi xảy ra khi gửi yêu cầu.");
                    }
                });
            }
        });
    });

    function updateTotalPrice() {
        var total = 0;
        $('.cbkItem:checked').each(function () {
            var price = parseFloat($(this).attr('data-price')) || 0;
            total += price;
        });
        $('#totalPrice').html(total.toLocaleString('vi-VN') + '<u>đ</u>');
    }

    function updateSTT() {
        $('.row_index').each(function (index) {
            $(this).text(index + 1);
        });
    }

    function loadCart() {
        $.ajax({
            url: '/ShoppingCart/ItemCart',
            type: 'POST',
            success: function (result) {
                $('#load_data').html(result);
            }
        });
    }
</script>