@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>

@if (Model != null && Model.Any())
{
    var i = 0;
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll" /></th>
                    <th class="text-center">STT</th>
                    <th class="text-center">Ảnh sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Danh mục</th>
                    <th class="text-center">Giá</th>
                    <th class="text-center" width="100">Số lượng</th>
                    <th class="text-center">Thành tiền</th>
                    <th width="160"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="trow_@item.ProductId">
                        <td><input type="checkbox" class="cbkItem" data-price="@item.TotalPrice" value="@item.ProductId" /></td>
                        <td class="text-center">@(i + 1)</td>
                        <td class="text-center">
                            <img src="@item.ProductImg" width="60" />
                        </td>
                        <td>
                            <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                                @item.ProductName
                            </a>
                        </td>
                        <td>@item.CategoryName</td>
                        <td class="text-right">@string.Format("{0:N0}", item.Price)<u>đ</u></td>
                        <td class="text-center">
                            <input type="number" min="1" class="form-control" id="Quantity_@item.ProductId" value="@item.Quantity" />
                        </td>
                        <td class="text-right font-weight-bold">@string.Format("{0:N0}", item.TotalPrice)<u>đ</u></td>
                        <td>
                            <a href="#" data-id="@item.ProductId" class="btn btn-danger btnDelete">Xóa</a>
                            <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-primary btnUpdate">Cập nhật</a>
                        </td>
                    </tr>
                    i++;
                }
                <tr class="font-weight-bold">
                    <td colspan="6" class="text-right">Tổng tiền: </td>
                    <td class="text-right" id="totalPrice"><u>0đ</u></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <h3 class="text-center">Giỏ hàng của bạn đang trống!</h3>
    <div class="row d-flex justify-content-center">
        <a href="/danh-muc-san-pham/san-pham" class="btn red_button text-white px-4">MUA NGAY</a>
    </div>
}

<script>
    $(document).ready(function () {
        function updateTotalPrice() {
            var total = 0;
            $('.cbkItem:checked').each(function () {
                var price = parseFloat($(this).attr('data-price')) || 0;
                total += price;
            });
            $('#totalPrice').html(total.toLocaleString('vi-VN') + '<u>đ</u>');
        }

        $('#selectAll').on('change', function () {
            $('.cbkItem').prop('checked', this.checked);
            updateTotalPrice();
        });

        $('.cbkItem').on('change', function () {
            updateTotalPrice();
        });

        @*$('body').on('click', '.btnDelete', function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Delete", "ShoppingCart")',
                type: 'POST',
                data: { id: $(this).data('id') },
                success: function () {
                    $('#trow_' + productId).remove();
                    updateTotalPrice();
                },
                error: function () {
                    alert("Có lỗi xảy ra khi xóa sản phẩm.");
                }
            });
        });*@
    });
</script>

